NEXT_PUBLIC_GOOGLE_OAUTH_CLIENT_ID=google-oauth-client-id
NEXT_PUBLIC_EMAILJS_CONTACT_US_TEMPLATE_ID=template-id
NEXT_PUBLIC_EMAILJS_SERVICE_ID=service-id
NEXT_PUBLIC_EMAILJS_PUBLIC_KEY=public-key
BETTER_AUTH_SECRET=secret
BETTER_AUTH_URL=app_url
DATABASE_URL=db_url